:root {
    --clr-dark: #171717;
    --clr-bg: #f0f9ff;
    --clr-white: #e5e5e5;
    --clr-neon: #a8f99f;
    --clr-lime: #4caf50;
    --clr-green500: #22c55e;
    --clr-green600: #16a34a;
    --clr-green700: #15803d;
    --clr-grey: #404040;

    --clr-sky: #0c4a6e;
    --clr-emerald: #047857;

    /* 
    green500 rgb(34, 197, 94)
    green600 rgb(22, 163, 74)
    green700 rgb(21, 128, 61)
    */

    /* size */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.25rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-left: 0;
}

green-bg {
    background-color: var(--clr-green500);
}

h1 {
    font-size: var(--size-8xl);
    color: var(--clr-emerald);
    text-shadow: 0.25rem 0.25rem 0px rgba(21, 128, 61, 0.5);
}

img,
picture,
video,
canvas,
svg {
    display: inline-block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: #1d4ed8; 
}



strong {
    font-size: 1.5em;
    color: var(--clr-green600)
}

nav {
    background-color: var(--clr-green500);
}

navbar-logo {
    display: inline-block;
    margin-left: 250px;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.two-column-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    padding-left: 40px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: var(--clr-sky);
    color: var(--clr-white);
    border-radius: 8px;
}

.left-column {
    flex: 1;
    padding-right: 20px;
    padding-left: 40px;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.left-column h2 {
    font-size: var(--size-4xl);
    margin-bottom: 20px;
}

.left-column p {
    font-size: var(--size-2xl);
    margin-bottom: 20px;
}

.left-column ul {
    font-size: var(--size-2xl);
    list-style-type: style type num;
    padding: 25px;
    margin-bottom: 20px;
}

.left-column li {
    margin-bottom: 10px;
    font-size: var(--size-2xl);
}

.left-column .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--clr-neon);
    color: var(--clr-green600);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.left-column .button:hover {
    background-color: var(--clr-green700);
    color: var(--clr-white);
}

.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transform: scale(1.2); /* Scale the image to 120% of its original size */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.right-column img:hover {
    transform: scale(1.3); /* Increase scale on hover (optional) */
}

.footer-container {
    display: grid;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    font-size: var(--size-xl);
}

