:root {
    --clr-dark: #171717;
    --clr-bg: #f0f9ff;
    --clr-white: #e5e5e5;
    --clr-neon: #a8f99f;
    --clr-lime: #4caf50;
    --clr-green500: #22c55e;
    --clr-green600: #16a34a;
    --clr-green700: #15803d;

    --clr-sky: #38bdf8;
    --clr-emerald: #047857;

    /* 
    green500 rgb(34, 197, 94)
    green600 rgb(22, 163, 74)
    green700 rgb(21, 128, 61)
    */

    /* size */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.25rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin-left: 0;
}

green-bg {
    background-color: var(--clr-green500);
}

h1 {
    font-size: var(--size-8xl);
    color: var(--clr-green600);
    text-shadow: 0.25rem 0.25rem 0px rgba(21, 128, 61, 0.5);
}

img,
picture,
video,
canvas,
svg {
    display: inline-block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-sky);
}

strong {
    font-size: 1.5em;
    color: var(--clr-emerald)
}

nav {
    background-color: var(--clr-green500);
}

navbar-logo {
    display: inline-block;
    margin-left: 250px;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

footer {
    
}
