<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="static\imgs\favicon_io\favicon-16x16.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>

    <body id = "#page-top">
        {% block body %}{% endblock %}
        <script type="module" src="src/main.js"></script>
    </body>

</html>