<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../static/imgs/favicon_io/favicon-16x16.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://api.fontshare.com/v2/css?f[]=public-sans@500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/surrvey.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/utils.css') }}">
    <title>Carbon Footprint Quiz</title>
</head>
<body>

<h1>Carbon Footprint Quiz</h1>

<form id="quizForm" action="{{ url_for('update') }}" method="POST">
    <div class="question">
        <label for="question1">How many people live in your household?</label>
        <input type="range" id="question1" name="household_members" class="slider" min="1" max="10" value="3" step="1" oninput="updateValue(this)">
        <div class="value">Value: <span id="value1">3</span></div>
    </div>

    <div class="question">
        <label for="question2">How many miles do you drive per week?</label>
        <input type="range" id="question2" name="miles_driven" class="slider" min="0" max="500" value="100" step="10" oninput="updateValue(this)">
        <div class="value">Value: <span id="value2">100</span></div>
    </div>

    <div class="question">
        <label for="question3">What is your annual electricity use (in kWh)?</label>
        <input type="range" id="question3" name="annual_electricity" class="slider" min="0" max="20000" value="10000" step="1000" oninput="updateValue(this)">
        <div class="value">Value: <span id="value3">10000</span></div>
    </div>

    <div class="question">
        <label for="question4">How much food do you waste per week (in lbs)?</label>
        <input type="range" id="question4" name="food_waste" class="slider" min="0" max="50" value="10" step="1" oninput="updateValue(this)">
        <div class="value">Value: <span id="value4">10</span></div>
    </div>

    <div class="question">
        <label for="question5">How often do you fly per year?</label>
        <input type="range" id="question5" name="flights_per_year" class="slider" min="0" max="10" value="1" step="1" oninput="updateValue(this)">
        <div class="value">Value: <span id="value5">1</span></div>
    </div>

    <button class = "btn" type="submit">Submit</button>
</form>

<script>
    function updateValue(slider) {
        document.getElementById("value" + slider.id.charAt(slider.id.length - 1)).innerText = slider.value;
    }
</script>

</body>
</html>
