{% extends 'base.html' %}

{% block head %}
<title>EcoTrack</title>
{% endblock %}

{% block body %}

<!-- Main Front Page -->
<div class="two-column-banner container banner">
        <!-- Left column -->
  <div class="left-column">
    <h1>Take the next <strong>STEP</strong>,</h1>
    <h1>to leave less behind.</h1>
    <p>Managing your carbon-footprint has never been easier.<br>We're helping you track your carbon footprint to make a difference in the world.</p>
    <ul>By following these steps, anyone can record their journey to save the planet:
      <li class="numberedList">Create an Account(Skip if you already have one).</li>
      <li class="numberedList">Log in to your account.</li>
      <li class="numberedList">Visit your Dashboard</li>
      <li class="numberedList">Take the carbon-footprint survey</li>
      <li class="numberedList">And view your carbon-footprint and effective measures to minimize it!</li>
    </ul>
    <div class="buttons">
      <a href="/register" class="button btn btn-primary">Get Started</a>
      <a href="/login" class="button btn btn-secondary">Log in</a>
    </div>
  </div>

  <!-- Right column (Image of laptop and phone) -->
  <div class="right-column">
    <img src="static/imgs/treeImg.png" alt="tree image">
  </div>
</div>

<!-- Footer -->
<footer>
  <nav class="">
    <div class="footer-container container">
      <p>
        <a href="/login">Login</a> • 
        <a href="/register">Register</a> • 
        <a href="/dashboard">Dashboard</a> • 
        <a href="mailto:ecotrack@gmail.com?subject=Contact Us&body=Please provide details about your query.">Contact Us</a> • 
      </p>
      
      
    </div>
  </nav>
</footer>
{% endblock %}