<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoTrack Registration</title>
    <link href="https://api.fontshare.com/v2/css?f[]=public-sans@500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/utils.css') }}">
</head>

<body>
    <div class="container registration-container">
        <h1 class="heading">EcoTrack Registration</h1>

        <!-- Display flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="message-list">
            {% for message in messages %}
            <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="POST" class="registration-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-input" required>
            </div>

            <div class="form-group">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" id="confirm" class="form-input" required>
            </div>

            <input type="submit" value="Register" class="form-button">
        </form>

        {% if returnedmessage != None %}
        <p class="message">{{ returnedmessage }}</p>
        {% endif %}
    </div>
</body>

</html>
